# My Data Analysis

In [32]:
import pandas as pd
import stringcase

from sklearn.datasets import load_iris, load_wine

In [9]:
def rename_cols(df):
    return df.rename(columns={
        col: stringcase.snakecase(col.replace("(cm)", "").strip())
        for col in df.columns
    })

In [26]:
iris_data = load_iris(as_frame=True)
X, y = rename_cols(iris_data.data), iris_data.target

In [27]:
X

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]